In [39]:
from datetime import datetime,date,time

In [40]:
print(datetime.now())

2024-06-24 12:29:12.831110

In [41]:
datetime.now().date().strftime('%Y-%m-%d')

'2024-06-24'

In [42]:
datetime.now().strftime('%Y-%m-%d %H:%M:%S')

'2024-06-24 12:29:12'

In [43]:
tup = 4,5,6

In [44]:
tup

(4, 5, 6)

In [45]:
tup = (tup,tup)

In [46]:
tup

((4, 5, 6), (4, 5, 6))

In [47]:
tup1 = tuple([{'a':1,'b':2},{'a':3,'b':4}])
tup1

({'a': 1, 'b': 2}, {'a': 3, 'b': 4})

In [48]:
tup1[0]['a']

1

In [49]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [50]:
(4,None,'foo') + (6,0)

(4, None, 'foo', 6, 0)

In [51]:
tup = (4,None,'foo')
a,b,c = tup

In [52]:
a,b,c

(4, None, 'foo')

In [53]:
a,b = 1,2
b,a = a,b
a,b

(2, 1)

In [54]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [55]:
values = 1,2,3,4,5,6

In [56]:
values

(1, 2, 3, 4, 5, 6)

In [57]:
a,b,*rest = values

In [58]:
a

1

In [59]:
b

2

In [60]:
rest

[3, 4, 5, 6]

In [61]:
a,b,*_ = values

In [62]:
_

[3, 4, 5, 6]

In [63]:
a = (1,23,4,5,6,72,3,123,3214,123)

In [64]:
a.count(2)

0

In [65]:
a.count(1)
a.count(3)

1

In [66]:
gen = range(10)
gen

range(0, 10)

In [67]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
gen = list(range(10))

In [69]:
gen

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
gen.append('123')

In [71]:
gen

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, '123']

In [72]:
gen.insert(3,'abc')

In [73]:
gen

[0, 1, 2, 'abc', 3, 4, 5, 6, 7, 8, 9, '123']

In [74]:
gen.remove('123')

In [75]:
gen

[0, 1, 2, 'abc', 3, 4, 5, 6, 7, 8, 9]

In [76]:
'abc' in gen

True

In [77]:
10 in gen

False

In [79]:
x = [4,None,'foo']
x.extend(['12321a','asdas',('tome','Ronaldo')])
x

[4, None, 'foo', '12321a', 'asdas', ('tome', 'Ronaldo')]

通过extend 来扩展数组更为可取

In [80]:
everything = []
for chunk in range(0,100,10):
    everything.extend(range(chunk,chunk+10))
everything

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [83]:
a = [7,2,9, 100, 24,5]
a.sort()
a

[2, 5, 7, 9, 24, 100]

In [84]:
b = ['saw','small','He','foxes','six','jumps','over']
b.sort(key=len)
b

['He', 'saw', 'six', 'over', 'small', 'foxes', 'jumps']

In [85]:
list(reversed(range(20)))

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [89]:
d1 = {'a':1,'b':2,'c':3}
d1['fff'] = 'asdsa'

In [90]:
d1

{'a': 1, 'b': 2, 'c': 3, 'fff': 'asdsa'}

In [91]:
'has' in d1

False

In [92]:
d1['iphone'] = 'iPhone15 pro'

In [93]:
del d1['a']
d1

{'b': 2, 'c': 3, 'fff': 'asdsa', 'iphone': 'iPhone15 pro'}

In [94]:
d1['dummy']= 'dummy'

In [95]:
d1

{'b': 2, 'c': 3, 'fff': 'asdsa', 'iphone': 'iPhone15 pro', 'dummy': 'dummy'}

In [96]:
dummy = d1.pop('dummy')
dummy

'dummy'

In [98]:
list(d1.keys())

['b', 'c', 'fff', 'iphone']

In [99]:
list(d1.values())

[2, 3, 'asdsa', 'iPhone15 pro']

In [100]:
[key.upper() for key in d1.keys()]

['B', 'C', 'FFF', 'IPHONE']

In [101]:
d1.update({'b':'123','xiaomi':'14pro'})
d1

{'b': '123',
 'c': 3,
 'fff': 'asdsa',
 'iphone': 'iPhone15 pro',
 'xiaomi': '14pro'}

In [105]:
mapping =  dict(zip(range(10),reversed(range(10))))
mapping

{0: 9, 1: 8, 2: 7, 3: 6, 4: 5, 5: 4, 6: 3, 7: 2, 8: 1, 9: 0}